<div id="<%= dom_id chat_board %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Comment</h5>
    <p class="card-text">
      <%= chat_board.content %>
    </p>
  </div>
</div>
