<h1>Editing chat board</h1>

<%= render "form", chat_board: @chat_board %>

<br>

<div>
  <%= link_to "Show this chat board", @chat_board %> |
  <%= link_to "Back to chat boards", chat_boards_path %>
</div>
