<%= turbo_frame_tag "like-frame" do %>
  <p>Likes: <span id="like-count"><%= @post.like.count %></span></p>

  <% if current_user.likes.where(post: @post).exists? %>
    <%= button_to "Unlike", unlike_post_path(@post), method: :post, data: { turbo_frame: "like-frame" }, class: "unlike-button" %>
  <% else %>
    <%= button_to "Like", like_post_path(@post), method: :post, data: { turbo_frame: "like-frame" }, class: "like-button" %>
  <% end %>
<% end %>